.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.795410;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.694336;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:3.392000px;}
._2{width:56.000000px;}
._1{width:61.344000px;}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:32.000000px;}
.fs1{font-size:40.000000px;}
.fs0{font-size:48.000000px;}
.y3a{bottom:1.694999px;}
.y2f{bottom:1.695001px;}
.y5{bottom:5.543000px;}
.y35{bottom:7.396000px;}
.y1b{bottom:7.746000px;}
.y15{bottom:7.895999px;}
.y31{bottom:8.896000px;}
.y33{bottom:8.996000px;}
.y8{bottom:9.043000px;}
.y1d{bottom:9.346001px;}
.y19{bottom:9.645999px;}
.y17{bottom:9.795999px;}
.y13{bottom:10.893999px;}
.y45{bottom:10.894001px;}
.yb{bottom:12.346000px;}
.y3{bottom:12.970001px;}
.y3d{bottom:13.894001px;}
.y3c{bottom:16.894001px;}
.y12{bottom:20.093000px;}
.y10{bottom:22.746000px;}
.y41{bottom:23.699998px;}
.y7{bottom:25.842000px;}
.y2{bottom:26.769001px;}
.y44{bottom:29.292001px;}
.y0{bottom:40.000000px;}
.y2b{bottom:48.103002px;}
.y42{bottom:51.296999px;}
.y2a{bottom:57.302000px;}
.y40{bottom:60.496000px;}
.y43{bottom:63.970997px;}
.y29{bottom:66.500998px;}
.y37{bottom:75.693998px;}
.y28{bottom:75.699998px;}
.y27{bottom:84.899000px;}
.y21{bottom:92.146001px;}
.y26{bottom:94.097999px;}
.y3f{bottom:101.266998px;}
.y25{bottom:103.296999px;}
.y24{bottom:112.496000px;}
.y3e{bottom:169.767003px;}
.y3b{bottom:179.465998px;}
.y39{bottom:204.363998px;}
.y38{bottom:232.460996px;}
.y36{bottom:232.460999px;}
.y34{bottom:245.159998px;}
.y32{bottom:263.559998px;}
.y30{bottom:283.559997px;}
.y2e{bottom:303.459996px;}
.y2d{bottom:321.277990px;}
.y2c{bottom:343.157988px;}
.y23{bottom:343.157989px;}
.y22{bottom:363.507994px;}
.y20{bottom:363.507996px;}
.y1f{bottom:383.858000px;}
.y1e{bottom:404.207991px;}
.y1c{bottom:424.557997px;}
.y1a{bottom:444.907997px;}
.y18{bottom:463.657991px;}
.y16{bottom:481.307995px;}
.y14{bottom:499.108004px;}
.y11{bottom:515.007996px;}
.yf{bottom:543.104996px;}
.ye{bottom:573.854998px;}
.yd{bottom:594.204996px;}
.yc{bottom:614.554996px;}
.ya{bottom:634.904997px;}
.y9{bottom:660.373999px;}
.y6{bottom:696.052998px;}
.y4{bottom:716.352001px;}
.y1{bottom:736.651001px;}
.h18{height:9.199000px;}
.h12{height:12.199000px;}
.hb{height:15.400000px;}
.he{height:17.150000px;}
.hc{height:17.299999px;}
.h15{height:17.900000px;}
.hf{height:18.250000px;}
.h13{height:19.400000px;}
.h14{height:19.500000px;}
.h4{height:19.799000px;}
.h7{height:19.850000px;}
.h8{height:23.296875px;}
.h17{height:24.398001px;}
.hd{height:25.062500px;}
.ha{height:27.597000px;}
.h6{height:29.121094px;}
.h9{height:30.250000px;}
.h3{height:34.945312px;}
.h1a{height:36.796001px;}
.h5{height:40.098000px;}
.h2{height:62.250000px;}
.h19{height:68.000000px;}
.h16{height:83.197998px;}
.h10{height:99.650002px;}
.h11{height:120.000000px;}
.h1{height:759.500000px;}
.h0{height:842.000000px;}
.w9{width:17.500000px;}
.w4{width:48.950001px;}
.w5{width:56.349998px;}
.wc{width:76.000000px;}
.w3{width:101.750000px;}
.w6{width:105.800003px;}
.wf{width:130.850006px;}
.w8{width:130.899994px;}
.we{width:140.750000px;}
.wd{width:146.149994px;}
.w13{width:148.850006px;}
.w12{width:170.500000px;}
.w14{width:206.550003px;}
.wb{width:211.000000px;}
.w10{width:287.399994px;}
.wa{width:287.500000px;}
.w2{width:304.299988px;}
.w11{width:355.899994px;}
.w7{width:406.549988px;}
.w15{width:526.900024px;}
.w1{width:530.000000px;}
.w0{width:595.349976px;}
.x8{left:5.544000px;}
.x5{left:7.143000px;}
.x14{left:10.550000px;}
.xf{left:15.994000px;}
.x7{left:17.842000px;}
.x10{left:23.150000px;}
.x0{left:36.500000px;}
.x16{left:37.949999px;}
.x11{left:41.150000px;}
.x4{left:42.533999px;}
.x12{left:56.182002px;}
.xa{left:65.269000px;}
.x6{left:92.200001px;}
.xd{left:94.381003px;}
.x2{left:115.464003px;}
.x1{left:149.050003px;}
.x9{left:153.944998px;}
.xb{left:168.749994px;}
.xc{left:186.749994px;}
.x13{left:333.350000px;}
.x15{left:393.749994px;}
.xe{left:398.249994px;}
.x3{left:453.850006px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:4.522667pt;}
._2{width:74.666667pt;}
._1{width:81.792000pt;}
.fs2{font-size:42.666667pt;}
.fs1{font-size:53.333333pt;}
.fs0{font-size:64.000000pt;}
.y3a{bottom:2.259999pt;}
.y2f{bottom:2.260001pt;}
.y5{bottom:7.390667pt;}
.y35{bottom:9.861333pt;}
.y1b{bottom:10.328000pt;}
.y15{bottom:10.527999pt;}
.y31{bottom:11.861333pt;}
.y33{bottom:11.994667pt;}
.y8{bottom:12.057334pt;}
.y1d{bottom:12.461334pt;}
.y19{bottom:12.861333pt;}
.y17{bottom:13.061332pt;}
.y13{bottom:14.525332pt;}
.y45{bottom:14.525334pt;}
.yb{bottom:16.461334pt;}
.y3{bottom:17.293335pt;}
.y3d{bottom:18.525335pt;}
.y3c{bottom:22.525334pt;}
.y12{bottom:26.790667pt;}
.y10{bottom:30.328000pt;}
.y41{bottom:31.599998pt;}
.y7{bottom:34.456000pt;}
.y2{bottom:35.692001pt;}
.y44{bottom:39.056002pt;}
.y0{bottom:53.333333pt;}
.y2b{bottom:64.137336pt;}
.y42{bottom:68.395999pt;}
.y2a{bottom:76.402666pt;}
.y40{bottom:80.661333pt;}
.y43{bottom:85.294662pt;}
.y29{bottom:88.667997pt;}
.y37{bottom:100.925330pt;}
.y28{bottom:100.933331pt;}
.y27{bottom:113.198666pt;}
.y21{bottom:122.861335pt;}
.y26{bottom:125.463999pt;}
.y3f{bottom:135.022664pt;}
.y25{bottom:137.729333pt;}
.y24{bottom:149.994666pt;}
.y3e{bottom:226.356004pt;}
.y3b{bottom:239.287997pt;}
.y39{bottom:272.485331pt;}
.y38{bottom:309.947994pt;}
.y36{bottom:309.947998pt;}
.y34{bottom:326.879997pt;}
.y32{bottom:351.413330pt;}
.y30{bottom:378.079995pt;}
.y2e{bottom:404.613328pt;}
.y2d{bottom:428.370654pt;}
.y2c{bottom:457.543983pt;}
.y23{bottom:457.543986pt;}
.y22{bottom:484.677325pt;}
.y20{bottom:484.677327pt;}
.y1f{bottom:511.810666pt;}
.y1e{bottom:538.943988pt;}
.y1c{bottom:566.077329pt;}
.y1a{bottom:593.210663pt;}
.y18{bottom:618.210655pt;}
.y16{bottom:641.743993pt;}
.y14{bottom:665.477338pt;}
.y11{bottom:686.677327pt;}
.yf{bottom:724.139994pt;}
.ye{bottom:765.139997pt;}
.yd{bottom:792.273328pt;}
.yc{bottom:819.406662pt;}
.ya{bottom:846.539996pt;}
.y9{bottom:880.498665pt;}
.y6{bottom:928.070663pt;}
.y4{bottom:955.136002pt;}
.y1{bottom:982.201335pt;}
.h18{height:12.265334pt;}
.h12{height:16.265334pt;}
.hb{height:20.533333pt;}
.he{height:22.866666pt;}
.hc{height:23.066666pt;}
.h15{height:23.866666pt;}
.hf{height:24.333333pt;}
.h13{height:25.866666pt;}
.h14{height:26.000000pt;}
.h4{height:26.398666pt;}
.h7{height:26.466667pt;}
.h8{height:31.062500pt;}
.h17{height:32.530668pt;}
.hd{height:33.416667pt;}
.ha{height:36.796000pt;}
.h6{height:38.828125pt;}
.h9{height:40.333333pt;}
.h3{height:46.593750pt;}
.h1a{height:49.061335pt;}
.h5{height:53.463999pt;}
.h2{height:83.000000pt;}
.h19{height:90.666667pt;}
.h16{height:110.930664pt;}
.h10{height:132.866669pt;}
.h11{height:160.000000pt;}
.h1{height:1012.666667pt;}
.h0{height:1122.666667pt;}
.w9{width:23.333333pt;}
.w4{width:65.266668pt;}
.w5{width:75.133331pt;}
.wc{width:101.333333pt;}
.w3{width:135.666667pt;}
.w6{width:141.066671pt;}
.wf{width:174.466675pt;}
.w8{width:174.533325pt;}
.we{width:187.666667pt;}
.wd{width:194.866659pt;}
.w13{width:198.466675pt;}
.w12{width:227.333333pt;}
.w14{width:275.400004pt;}
.wb{width:281.333333pt;}
.w10{width:383.199992pt;}
.wa{width:383.333333pt;}
.w2{width:405.733317pt;}
.w11{width:474.533325pt;}
.w7{width:542.066650pt;}
.w15{width:702.533366pt;}
.w1{width:706.666667pt;}
.w0{width:793.799967pt;}
.x8{left:7.392000pt;}
.x5{left:9.524000pt;}
.x14{left:14.066667pt;}
.xf{left:21.325333pt;}
.x7{left:23.789334pt;}
.x10{left:30.866666pt;}
.x0{left:48.666667pt;}
.x16{left:50.599999pt;}
.x11{left:54.866666pt;}
.x4{left:56.711999pt;}
.x12{left:74.909335pt;}
.xa{left:87.025333pt;}
.x6{left:122.933334pt;}
.xd{left:125.841337pt;}
.x2{left:153.952004pt;}
.x1{left:198.733337pt;}
.x9{left:205.259998pt;}
.xb{left:224.999992pt;}
.xc{left:248.999992pt;}
.x13{left:444.466667pt;}
.x15{left:524.999992pt;}
.xe{left:530.999992pt;}
.x3{left:605.133341pt;}
}
